In [34]:
import pandas as pd
us = pd.read_csv('../../data/us_accident_lon_lat_severity_count.csv', header = 0, engine = 'python')
us.head()

   latBin  lonBin  Severity  count
0  24.566 -81.752  2.000000      1
1  24.570 -81.753  2.666667      3
2  24.570 -81.752  2.000000      1
3  24.570 -81.751  2.000000      1
4  24.571 -81.749  3.000000      2

In [35]:
import plotly as py
import cufflinks as cf
import numpy as np
cf.go_offline(connected=True)
usc  = us[us['count']> 15]

In [36]:
usc_2_1 = usc[usc['Severity'] > 2.0]
print(len(usc_2_1))

17233

In [37]:
usc_1_9 = usc[usc['Severity'] < 2]
print(len(usc_1_9))

1197

In [38]:
usc_2 = usc[usc['Severity'] == 2].sample(n = 10000, random_state = 1)

In [39]:
new_usc = pd.concat([usc_2_1, usc_2, usc_1_9], ignore_index=True)

In [40]:
print(len(new_usc))

28430

In [45]:
new_usc['lat'] = new_usc['latBin']
new_usc['lon'] = new_usc['lonBin']
new_usc['filename'] = new_usc['lat'].astype(str) + '_' + new_usc['lon'].astype(str)
new_usc2 = new_usc.loc[:, ['lat', 'lon', 'Severity', 'filename']]
new_usc2 = new_usc2.sample(frac=1, random_state = 1)
new_usc2.head()

          lat      lon  Severity                     filename
5085   33.905 -117.560  2.037037               33.905_-117.56
14037  40.987  -73.668  2.080000               40.987_-73.668
27597  32.236 -110.876  1.531250  32.236000000000004_-110.876
4122   33.700 -117.860  2.142857                 33.7_-117.86
10722  38.810  -77.491  2.055556                38.81_-77.491

In [46]:
new_usc2.to_csv('../../data/us_accident_lon_lat_15.csv')